* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(185, 75%, 39%);
    background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    background-position: -250px -550px, 700px 365px;
    background-repeat: no-repeat;
    color: hsl(227, 10%, 46%);
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    text-align: center;
}

hr {
    border: 1px solid #f2f2f2;
    position: relative;
    bottom: 10px;
    margin: 20px 0 0 0;
    width: 100%;
}

.bolded-font {
    color: hsl(229, 23%, 23%);
    font-weight: 700;
}

.tiny-font {
    font-size: 10px;
    letter-spacing: 2px;
}

.age {
    margin-left: 5px;
}

.city {
    font-size: 16px;
    position: relative;
    top: 20px;
}

.main-div {
    display: flex;
    height: 100vh;
    width: 100%;
}

.photo-card {
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 375px;
    width: 350px;
}

.background-card-div {
    background-color: tomato;
    background-image: url(images/bg-pattern-card.svg);
    border-radius: 20px 20px 0 0;
    height: 140px;
    width: 350px;
}

.profile-photo-div {
    position: relative;
    bottom: 54px;
}

.victor-photo {
    border-radius: 50%;
    border: 5px solid white;
}

.profile-data {
    position: relative;
    bottom: 40px;
}

.social-media-stats {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 25%;
    width: 100%;
}

@media only screen and (max-width: 375px) {
    body {
        background-position: -760px -600px, 150px 280px;
    }
    .background-card-div {
        width: 330px;
    }
    .photo-card {
        width: 330px;
    }
}